body {
	margin: 0px;
	padding: 0px;
	font-family:sans-serif;
}

h1{
	color: black;
	text-decoration: none;
	margin: 10px 5px;
}

h1:hover{
	color:#1167A8;
}

#main-left a {
	text-decoration: none;
}

#main-left p {
	color:#5A5A5A;
	font-size: 90%;
	text-decoration: none;	
}


h2 {
	margin: 0px;
	font-weight: normal;
	font-size: 125%;
	color: #404040;
	text-decoration: underline;
	text-decoration-color: #BB1919;
	text-underline-position: under;
	padding:2px 5px;
}

#big-news {
	font-size: 275%;
	padding: 0px;
	margin: 0px;
	color: white;
	height:50px;
	

}

.clear {
	clear:both;
	margin: 0px;
	padding: 0px;
}

#topbar {
	margin:0 auto;
	width: 1000px;
	height: 40px;
}

.top-menu-opt {
	float: left;
	height: 100%;
	border-left: 1px #CCCCCC solid;
}

.topbar-text {
	font-weight:bold;
	color:#333333;
	font-size:82%;
	float: left;
	padding:0px 12px 0px 12px;
}

#search {
	background-color: #E4E4E4;
	border-style: none;
	padding: 4px 2px 5px 6px;
	margin: 8px 0px 13px 12px;
	width:165px;
	float: left;			
}

#search::placeholder {
	color: #333333;
	font-weight: bold;
}


#search-button {
	background-color: #E4E4E4;
	border-style: none;
	padding: 5px 2px 4px 7px;
	width:20px;
	float: left;
}

#top-red {
	border-top: 1px #CCCCCC solid;
	background-color: #BB1919;
	height: 56px;
}

#bottom-red {
	background-color: #A91717;
	height: 36px;
}

.bottom-menu-opt {
	font-size: 15px;
	color:white;
	float: left;
	height: 100%;
	border-right: 1px #BB4545 solid;
	padding: 2px 10px 0px 10px;
}