

/* This is a comment, by the way */

body {
    color: navy;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

h2{
	
	font-size: 1.5em;
	background-color: #ccc;
	margin: 10px;
	padding-left: 5px;

	line-height: 2;

	border-style: dashed;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: red;
}


h1{
	color: #ffc;
	background-color: #009; 
	font-size: 2em;
	margin: 10px;
	padding: 10px;
}

p {
	letter-spacing: 0.5em;
    word-spacing: 2em;
    line-height: 1.5;
    text-align: center;
}


a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}